{% extends "base.html" %}
{% load static %}
{% include 'navbar.html' %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_reader %}
          Hey {{ user }}!!!, you are not supposed to be here
        {% else %}
        <div class="d-flex justify-content-center" 
   style="
   border-style: dotted;
   border-radius: 15px;
   padding: 20px;
   color: rgb(240, 138, 66);
   background-color: rgba(218, 217, 204, 0.911);
   margin-left : 200px; 
   margin-right: 200px; 
   ">

    <form enctype='multipart/form-data' method="POST">
            {% csrf_token %}
            <div style=>
                {{ form.media }}
                <p><strong>Title: </strong>{{ form.title|safe }}</p>
                <p><strong>Small Description: </strong>{{ form.small_description|safe }}</p>
                <p><strong>Choose the category:</strong> {{ form.category }}</p>
                <p><strong>Content for the post :</strong> {{ form.content|safe }}</p>
            </div>
            <br>
          <div class="d-flex align-items-center">
            <button class = "btn btn-primary" type="submit" >Submit</button>
          </div>
        </form>
      </div>
        {% endif %}
    {% endif %} 
   
{% endblock content %}

<!-- <div class="form-body">
  <div class="row">
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items">
                  <h3>Make a Post</h3>
                  <p>Fill in the data below.</p>
                  <form class="" novalidate>

                      <div class="col-md-12">
                         <input class="form-control" type="text" name="title" placeholder="Title" required>{{form.title}}
                         <!-- <div class="valid-feedback">Username field is valid!</div>
                         <div class="invalid-feedback">Username field cannot be blank!</div> -->
                      </div>

                      <div class="col-md-12">
                          <input class="form-control" type="text" name="small-description" placeholder="Small-Description" required>{{form.small_description}}
                           <!-- <div class="valid-feedback">Email field is valid!</div>
                           <div class="invalid-feedback">Email field cannot be blank!</div> -->
                      </div>

                     <div class="col-md-12">
                          <select class="form-select mt-3" required>
                                {{form.category}}
                         </select>
                          <!-- <div class="valid-feedback">You selected a position!</div>
                          <div class="invalid-feedback">Please select a position!</div> -->
                     </div>

<!-- 
                     <div class="col-md-12">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                         <div class="valid-feedback">Password field is valid!</div>
                         <div class="invalid-feedback">Password field cannot be blank!</div>
                     </div> -->


                     <!-- <div class="col-md-12 mt-3">
                      <label class="mb-3 mr-1" for="gender">Gender: </label>

                      <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                      <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                      <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                      <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

                      <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                      <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                         <div class="valid-feedback mv-up">You selected a gender!</div>
                          <div class="invalid-feedback mv-up">Please select a gender!</div>
                      </div> -->

                  <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label">I confirm that all data are correct</label>
                   <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                  </div> -->
                      <div class="form-button mt-3">
                          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> -->
